body{
	background: url(../img/indie1.jpg);
	background-size: 100%;
}
#formulario{
	display: none;
	border-radius: 	5px;
	height: 80px;
	width: 	190px;
	color: 	black;
	background: #778899;
	padding: 5px;
}
.none {
	display: none;
}
img{
	width: 100%;
}
#lista{
	display: inline-block;
	border-radius: 	5px;
	height: 40px;
	width: 	190px;
	color: 	white;
	background: #778899;
	padding: 10px;
}
#lista:hover{
	background: #B0C8DE;
}
.ipt{
	display: block;
}
#cuadro{
	border-radius: 	5px;
	height: 60px;
	width: 	190px;
	color: 	white;
	background: #778899;
	padding: 10px;
}
#cuadro2:hover{
	background: #B0C8DE;
	border-radius: 5px;
	width: 	160px;
}
#texto{
	border-radius: 5px;
}
#cuadroUno{
	border-radius: 	5px;
	height: 160px;
	width: 	190px;
	color: 	white;
	background: #778899;
	padding: 10px;
}

/*body{
  background: url(../img/indie2.jpg);
  background-size: 100%;
}
h1{
	color: white;
	text-align: center;

}
#contenedor {
	display: inline-block;
}

span{
	display: inline-block;
	border-radius: 	5px;
	height: 40px;
	width: 	190px;
	color: 	white;
	background: #778899;
	padding: 10px;
}
span:hover{
	background-color : #B0C4DE ;
}
.pao{
	padding-top: 10px;
	height: 100px;
	width: 	190px;
	color: 	white;
	border-radius: 	5px;
	background: #778899;
}
.otraLista{
	background: #E2E4E6;
}
.ipt{
	display: block;
}
.btn-1 {
	display: block;
	margin: 5px;
	float: left;
	width: 70% !important;
}
.cross{
  color: white;
display: inline-block;
}*/